@charset "UTF-8";
/* 
    - Paleta de cores -
    -------------------

    Verde: #49a09d
    Lilás: #5f2c82
*/
:root{
    --verde: #49a09d;
    --verde-escuro: #2c5f5d;
    --laranja: #D76459;
    --laranja-escuro: #96453e;
    --lilas: #5f2c82;
    --time: .2s;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body,html{
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    
    transition: width var(--time), height var(--time);
    transition-timing-function:ease-in-out;
    transform: translate(-50%,-50%);
}
section#login>div#imagem{
    display: block;
    background: var(--lilas) url(../imagens/login-gd.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center center;

}
section#login>div#formulario{
    display: block;
    padding: 10px;
}
div#formulario>h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario>p{
    font-size: 0.8em
}
form>div.campo{
    background-color: var(--laranja);
    display: block;
    width: 100%;
    height: 40px;
    border: 2px solid var(--laranja);
    border-radius: 8px;
    margin: 5px 0px 5px 0px;
}
div.campo>label{
    display: none;
}
div.campo>i{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
    transform: translateY(-3px);
}
div.campo>input{
    background-color:white;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-13px);
}
form>input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    background-color: var(--laranja);
    border: none;
    border-radius: 5px;
    height: 40px;
    color: white;

    cursor: pointer;

    &:hover{
        background-color: var(--laranja-escuro);
    }
}
form>a.botao{
    color:#747474;
    display: block;
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--laranja-escuro);
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    height: 40px;
    margin-bottom: 10px;
    &:hover{
        background-color: #96453e;
        color: white;
    }
}
form>a.botao>i{

    transform: translateY(6px);
}