@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
    /* background-color: black;
    background-image: url('imagens/wallpaper002.jpg');
    background-position: center center;
    background-repeat: repeat-y;
    background-attachment: fixed;
    */
    /* Shorthand - background */
    /* color > image > position > repeat > attachment */
    background: black url('imagens/wallpaper002.jpg') repeat-y fixed center center;
    background-size: cover;
}
main{
    background-color: white;
    max-width: 600px;
    padding: 20px;
    margin: 50px auto 0px auto;
    border-radius: 10px;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}
h1, p{
    text-indent: 30px;
}
p{
    text-align: justify;
    line-height: 1.5em;
    margin-top: 15px;
}